.heading {
  margin: 10px 0 8px;
}

.info {
  display: inline-flex;
  align-items: center;

  font-size: 12px;
}

.divider {
  margin-right: 7px;
  margin-left: 7px;

  font-weight: 500;
  font-size: 18px;
  color: #ddd;
}

.segment {
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
}
