@import '../../assets/scss/base';

.grid {
  display: block;

  @include responsiveMediumAndAbove() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cell {
  margin-bottom: 15px;

  @include responsiveMediumAndAbove() {
    width: calc(50% - 10px);
  } 

  @include responsiveLargeAndAbove() {
    width: calc(33.33% - 10px);
  }

  @include responsiveExtraLargeAndAbove() {
    width: calc(25% - 10px);
  }
}